.iframe-map{
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
}
.contact-container{
    padding: 30px;
}
.contact-inside{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 900px) {
    .contact-inside{
        flex-direction: column;
        justify-content: center;
    }
}