.procard{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 30px; */
    position: relative;
    overflow: hidden;
}
.pro-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: fit-content;
    background: var(--bk-cr-);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.pro-name h1{
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 11.5px;
}
.link{
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 140px;
    height: fit-content;
    background: var(--bk-cr-);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0;
    transition: all .3s;
    cursor: pointer;
}
.procard:hover .link{
    right: 0;
}
.link a{
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 15px;
}
.type{
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 140px;
    height: fit-content;
    background: var(--bk-cr-);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0;
    transition: all .4s;
    cursor: pointer;
}
.procard:hover .type{
    left: 0;
}
.type h1{
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 15px;
}